

h1 {
    font-size: $xxxx-large;
    font-family: 'Playfair Display', serif;
    color: $white;
    margin: 0px;
    display: inline;
}

p {
    font-family:'Open Sans', sans-serif;
    color: $white;
    font-size: $large;
    margin: 0px;
    font-weight:$regular;
}

h6 {
    font-family:'Open Sans', sans-serif;
    color: $white;
    font-size: $small;
    margin: 0px;
    font-weight:$semibold;
}