@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:wght@700&display=swap');

//font sizes

$xxxx-large: 130px;
$xxx-large:100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//font weight

$bold:700;
$semibold:600;
$regular:400;

//Colores

$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;
$salmon: #ef7f6d;
$spanishpink: #f7bfb6;
$blackolive: #393e41;
$granitegray: #5d6163;
$oldsilver: #818486;
$mediumaquamarine: #66c7b4;
$perlaqua: #88d3c5;

//background-color

$default: #e94f37;
$positive: #44bba4;
